<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Votaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center">

  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Votación Uno A Todos'">
  
    <br>
    <br>
    <br>

    <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual'">
  
      <table style="width: 80%"  align="center"  mat-table [dataSource]="datasourceAlumno" class="example-container mat-elevation-z8">
        
        <!-- Posición Column -->
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Posición Global</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{i+1}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{i+1}}</div>
          </td>
        </ng-container>
  
        <!-- Nombre Alumno Column -->
        <ng-container matColumnDef="nombreAlumno">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Nombre</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.nombre}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.nombre}}</div>
          </td>
        </ng-container>
  
        <!-- Primer Apellido Column -->
        <ng-container matColumnDef="primerApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Primer Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.primerApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.primerApellido}}</div>
            </td>
        </ng-container>
  
         <!-- Segundo Apellido Column -->
        <ng-container matColumnDef="segundoApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Segundo Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.segundoApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.segundoApellido}}</div>
            </td>
        </ng-container>
  
        <!-- Puntos Column -->
        <ng-container matColumnDef="puntos">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Puntos</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.puntos}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.puntos}}</div>
            </td>
        </ng-container>
  
        <ng-container matColumnDef="incremento">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
          <td mat-cell *matCellDef="let alumno; ">
            <div *ngIf = "alumno.incremento !==0 " class="blink">+{{alumno.incremento}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell style= "text-align: right" *matCellDef="let alumno">
            <p *ngIf = "alumno.votado" style = "color: green;">
              <i class="material-icons green md-36">done</i> </p>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>
          
      </table>
  
    </form>
    
    <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Equipos'">
  
      <div class="filter"  style="width: 60%">
        <mat-form-field style="width: 95% !Important;">
          <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar equipo...">
          <i class="material-icons" matSuffix>search</i>
        </mat-form-field>
      </div>
  
      <table style="width: 80%"  align="center"  mat-table [dataSource]="dataSourceEquipo" class="resultados mat-elevation-z8">
        
        <!-- Posición Column -->
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">Pos</th>
          <td mat-cell *matCellDef="let equipo; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{i+1}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{i+1}}</div>
          </td>
        </ng-container>
  
        <!-- Nombre Alumno Column -->
        <ng-container matColumnDef="nombreEquipo">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">Nombre</th>
          <td mat-cell *matCellDef="let equipo; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.nombre}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{equipo.nombre}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="miembros">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Miembros </th>
          <td mat-cell *matCellDef="let equipo"><button mat-icon-button matTooltip="Ver miembros de {{equipo.nombre}}" color="primary"
            [mdePopoverTriggerFor]="appPopover" (click) = "AlumnosDelEquipo(equipo)"
            mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
            <i class="material-icons">group</i></button>
  
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                <mat-card style="max-width: 300px">
                  <mat-card-content>
                    <mat-list *ngIf = "juegoSeleccionado.VotanEquipos">
                      <mat-list-item *ngFor="let alumno of alumnosEquipo">
                        <p class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                      </mat-list-item>
                    </mat-list>
                    <mat-list *ngIf = "!juegoSeleccionado.VotanEquipos">
                      <mat-list-item *ngFor="let alumno of alumnosEquipo">
                        <p *ngIf = "AlumnoHaVotado (alumno)" class="md-body-1" style="color: green;" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                        <p *ngIf = "!AlumnoHaVotado (alumno)" class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
                </mat-card>
            </mde-popover>
          </td>
        </ng-container>
  
        <!-- Puntos Column -->
        <ng-container matColumnDef="puntos">
          <th mat-header-cell *matHeaderCellDef align = "center" class="tituloColumnaTabla">Puntos</th>
          <td mat-cell *matCellDef="let equipo; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.puntos}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{equipo.puntos}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="incremento">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell *matCellDef="let equipo; ">
            <div *ngIf = "equipo.incremento !==0 " class="blink">+{{equipo.incremento}}</div>
          </td>
        </ng-container>
  
        <ng-container *ngIf = "juegoSeleccionado.VotanEquipos" matColumnDef="cuantos">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell *matCellDef="let equipo">
            <p *ngIf = "equipo.votado" style = "color: green;">
              <i class="material-icons green md-36">done</i> </p>
          </td>
        </ng-container>
  
        <ng-container *ngIf = "!juegoSeleccionado.VotanEquipos" matColumnDef="cuantos">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">han votado...</th>
          <td mat-cell  *matCellDef="let equipo">
            <p style = "color: green;"> {{CuantosHanVotadoDelEquipo(equipo)}}</p>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>
  
      </table>
  
    </form>
  
    <br>
    <br>

    <div align="center">
      <ion-button align="center" color="danger" style="width: 90%;" (click)="Desactivar();">Desactivar juego</ion-button>
    </div>

  </div>

  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Votación Todos A Uno'">

    <br>
    <br>
    <br>

    <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual' && columnasListas">
  
      <table style="width: 100%"  align="center"  mat-table [dataSource]="datasourceAlumno" class="example-container mat-elevation-z8">
  
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Posición Global</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{i+1}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{i+1}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="nombreAlumno">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Nombre</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.nombre}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.nombre}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="primerApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Primer Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.primerApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.primerApellido}}</div>
            </td>
        </ng-container>
  
        <ng-container matColumnDef="segundoApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 15%"  align="center">Segundo Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.segundoApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.segundoApellido}}</div>
            </td>
        </ng-container>
  
        <ng-container matColumnDef="votos">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 15%"  align="center">Votos recibidos</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.votosRecibidos}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.votosRecibidos}}</div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="nota">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 15%"  align="center">Nota</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{(alumno.nota).toFixed(2)}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{(alumno.nota).toFixed(2)}}</div>
            </td>
        </ng-container>
  
        <!-- El desglose por conceptos solo lo muestro si hay más de un concepto -->
        <div *ngIf = "juegoSeleccionado.Conceptos.length > 1">
          <ng-container *ngFor = 'let concepto of juegoSeleccionado.Conceptos; let j=index' matColumnDef={{concepto}}>
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">{{concepto}}</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "alumno.votosRecibidos !== 0">
                <div *ngIf = "(i == 0) && (VotacionFinalizada() )" style="color: green; font-size: xx-large;">{{(alumno.conceptos[j] / alumno.votosRecibidos).toFixed(2)}} </div>
                <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{(alumno.conceptos[j]/ alumno.votosRecibidos).toFixed(2)}}</div>
              </div>
              <div *ngIf = "alumno.votosRecibidos === 0">
                <div *ngIf = "(i == 0) && (VotacionFinalizada() )" style="color: green; font-size: xx-large;">0</div>
                <div *ngIf = "(i != 0) || (!VotacionFinalizada())">0</div>
              </div>
            </td>
          </ng-container>
        </div>
  
        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell style= "text-align: right" *matCellDef="let alumno">
            <p *ngIf = "alumno.votado" style = "color: green;">
              <i class="material-icons green md-36">done</i> </p>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos2; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos2;"></tr>
  
      </table>
  
    </form>

    <br>
    <br>

    <div align="center">
      <ion-button align="center" color="danger" style="width: 90%;" (click)="Desactivar();">Desactivar juego</ion-button>
    </div>

    
  </div>

  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Votación Votar opciones'">

    <br>
    <br>
    <h4><strong>Número de participantes:  </strong>{{numeroParticipantes}}</h4>
    <h4><strong>Número de respuestas:  </strong>{{numeroRespuestas}}</h4>
    <br>
    
    <br>
    <h3><strong>Resultados</strong></h3>
    <br>

    <table style = "width: 80%"  id = 'tabla' align= "center"  mat-table [dataSource]="dataSource" class="mat-elevation-z8 resultados">
      
      <ng-container matColumnDef="opcion" >
        <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Opcion  </th>
        <td mat-cell  *matCellDef="let dato"> {{dato.opcion}} </td>
      </ng-container>

      <ng-container matColumnDef="incremento" >
        <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> </th>
        <td mat-cell *matCellDef="let dato">
          <span *ngIf = "dato.incremento > 0"> (+ {{dato.incremento}}) </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="puntos" >
        <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Puntos </th>
        <td mat-cell *matCellDef="let dato"> {{dato.puntos}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     

    </table>

    <br>
    <br>

    <div align="center">
      <ion-button align="center" color="danger" style="width: 90%;" (click)="Desactivar();">Desactivar juego</ion-button>
    </div>

  </div>

</ion-content>
